body {margin:0 auto;padding:10px;font-family:Arial,sans-serif;font-size:1.15rem;line-height:1.5;background:#ece9d8;}
a:hover {text-decoration:none;}
.wrapper {display:flex;flex-flow:row wrap;}
.wrapper > * {flex:1 100%;}
.aside, .main {padding:10px;}
@media all and (min-width:600px) {.aside {flex:1 0 0;}}
@media all and (min-width:800px) {.main {flex:3 0px;} .aside-1 {order:1;} .main {order:2;}}
.clear {margin-top:5px;}
.window {box-shadow:inset -1px -1px #00138c,inset 1px 1px #0831d9,inset -2px -2px #001ea0,inset 2px 2px #166aee,inset -3px -3px #003bda,inset 3px 3px #0855dd;border-top-left-radius:8px;border-top-right-radius:8px;padding:0 0 3px;background:#fff;}
.title-bar {background:linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);padding:3px 5px 3px 3px;border-top:1px solid #0831d9;border-left:1px solid #0831d9;border-right:1px solid #001ea0;border-top-left-radius:8px;border-top-right-radius:7px;text-shadow:1px 1px #0f1089;}
.title-bar.inactive {background:linear-gradient(90deg,hsla(0,0%,100%,.4),rgba(0,0,0,.1),hsla(0,0%,100%,.2)),linear-gradient(55deg,transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.1) 50%,transparent 53%),#4580c4;}
.title-bar-text.inactive {color:#f80;}
.title-bar-text {padding-left:3px;}
.title-bar-text {font-weight:700;color:#fff;margin-right:24px;}
.window-body {margin:8px;}
.window-body img {max-width:80%;height:auto;}
.window-body frame {max-width:80%;}
h1 {font-size:3rem}
h2 {font-size:2.6rem;}
h3 {font-size:2rem;}
h4 {font-size:1.44rem}
h5 {font-size:1.15rem}
h6 {font-size:.96rem}
h1, h2, h3 {margin:0;line-height:1.1;}
p {max-width:50rem;line-height:1.5;}
buttons {border:none;border-radius:0;box-sizing:border-box;min-height:23px;min-width:75px;padding:0 12px;background:silver;box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;}
#postmeta {margin:0 1px;padding:2px 3px;box-shadow:inset -1px -1px #dfdfdf,inset 1px 1px grey;background:#ece9d8;}
.sumberkode {border:1px solid #0f9d58;border-left:0.35rem solid #0f9d58;margin:2rem 0 2rem 2rem;padding:0.4rem 0.8rem;background-color:#ced4da;font-family:monospace,monospace;}
*, ::before, ::after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.website-Gallery {list-style:none;padding:30px 24px;font-size:80%;}
.website-Gallery.int-Gall li {margin:0 .5% 12px;background-color:white;border:9px solid white;}
.website-Gallery li {margin-bottom:8px;color:#666;-moz-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.18);-webkit-box-shadow:0px 1px 3px 0px rgba(0,0,0,0.18);box-shadow:0px 1px 3px 0px rgba(0,0,0,0.18);}
.img-Holder {-moz-background-size:cover !important;-webkit-background-size:cover !important;background-size:cover !important;display:block;border:1px solid #eee;}
.website-Gallery .title {margin-top:8px;margin-bottom:2px;white-space:nowrap;}
.website-Gallery .site-info .username {height:1.3em;white-space:nowrap;}
.website-Gallery .site-info .site-tags {height:1.4em;margin-top:-4px;white-space:nowrap;}
:root {--animate-duration: 3s;--animate-delay: 3s;--animate-repeat: 1;}
.animate__animated {-webkit-animation-duration: 3s;animation-duration: 3s;-webkit-animation-duration: var(--animate-duration);animation-duration: var(--animate-duration);-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes zoomIn {0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3)} 50% {opacity: 1}}
@keyframes zoomIn {0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3)} 50% {opacity: 1}}
.animate__zoomIn {-webkit-animation-name: zoomIn;animation-name: zoomIn;}
@-webkit-keyframes slideInLeft {0% {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible}to {-webkit-transform: translateZ(0);transform: translateZ(0)}}
@keyframes slideInLeft {0% {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible}to {-webkit-transform: translateZ(0);transform: translateZ(0)}}
.animate__slideInLeft {-webkit-animation-name: slideInLeft;animation-name: slideInLeft}
@-webkit-keyframes slideInRight {0% {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible}to {-webkit-transform: translateZ(0);transform: translateZ(0)}}
@keyframes slideInRight {0% {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible}to {-webkit-transform: translateZ(0);transform: translateZ(0)}}
.animate__slideInRight {-webkit-animation-name: slideInRight;animation-name: slideInRight}